.head {
    height: 100px;
    background-color:pink;
    color: white;
    font-weight: bold;
    font-family: 'Arial Narrow';
    font-size: 50px;
}

.title {
    text-align: center;
    padding: 20px 0;
}

.seasons {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    text-align: center;
    font-family:'Arial Narrow';
    font-weight: bold;


}

.seasons button {
    border-color: palevioletred;
    color: palevioletred;
    background-color: white;
    font-family: 'Arial Narrow';
    font-weight: bold;
    font-size: 18px;
    justify-items: center;
    width: 15em;
    margin-top: 10px;
}

.seasons button:hover {
    color: white;
    background-color: palevioletred;
    font-family: 'Arial Narrow';
    font-weight: bold;
    font-size: 18px;
    padding: 10px;
    justify-items: center;
    width: 15em;
}

button {
    cursor:pointer;
}

.text {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    text-align: center;
    font-family:'Arial Narrow';
    font-weight: lighter;
    font-size: 18px;
    }

p {
    font-family: 'Arial Narrow'; 
    color: black;
    text-align: justify;
    font-size: 100%;
    padding: 15px;
}

.photos {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    text-align: center;
    justify-items: center;
}

img {
    width: 90%;
}

.all {
    border-color: palevioletred;
    color:white;
    width: 300px;
    height:40px;
    font-weight: bold;
    font-family:'Arial Narrow';
    background-color:palevioletred;
    margin-top:20px ;
    font-size: 18px;
}

.all:hover {
    border-color: palevioletred;
    color:palevioletred;
    background-color:white;
}

footer {
    display: flex;
    justify-content: center;
}