---
import Flowers from "../components/AllFlowers.jsx";
---

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Todas</title>
</head>
<body>
    <h1> TODAS LAS FLORES </h1>

    <div class="flor">
        <p class="Search">
            Búsqueda de una flor:
            <input type="search" id="inputFlower" placeholder="Nombre de la flor...">
            <input type="submit" value="Buscar">
        </p>
        <Flowers/>
    </div>
    <a href="index.html"> <button class="return"> VOLVER </button></a>             
    <a href = "form.html" > <button class="sugg">ENVIAR SUGERENCIA DE FLOR</button> </a>
</body>
<footer>
    &copy; Senda Arriaga
</footer>
</html>