---
import Flowers from "../components/AllFlowers.jsx";
---

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1> TODAS LAS FLORES </h1>

    <div class= 'allflowers'>
        <div class="flor">
            <Flowers/>
        </div>

    </div>

    <a href="index.html"> <button class ='volver'> VOLVER </button></a> 

    
</body>
</html>