---
import Flowers2 from "../components/SeasonFlower";
const {title,title2} = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{title}</title>
    <link rel="shortcut icon" href="icono-flower.png">
</head>
<body>
        <h1> {title} </h1>
                
        <Flowers2 estacion = {title2}/>
    
        <a href="index.html"> <button class ='return'> VOLVER </button></a> 
        <a href = "form" > <button class="sugg">ENVIAR SUGERENCIA DE FLOR</button> </a>
    
</body>
<footer>
    &copy; Senda Arriaga
</footer>
</html>
